# TMDB API Key (https://www.themoviedb.org/documentation/api)
TMDB_API_KEY=90baf777f7915bb43dfed86192e5a0e6

# OMDb API Key (http://www.omdbapi.com/apikey.aspx)
OMDB_API_KEY=4ba52018

# TasteDive API Key (https://tastedive.com/read/api)
TASTEDIVE_API_KEY=1072762-AljihadH-883A2EB2

# Watchmode API Key (https://api.watchmode.com/)
WATCHMODE_API_KEY=jSVerxJA1nnw2Iu6Ng2TSoP8rAbWaqhEW5D3b1IR

# Gemini API Key (https://aistudio.google.com/app/apikey)
GEMINI_API_KEY=
